$active : #0275d8;
$hover : #5bc0de;

.nav_bar{
    margin-top: 20px;
    width: 100%;
    .nav_item{
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: left;
        letter-spacing: 2px;
        &:hover{
            background-color: $hover;
        }
        &:hover a{
            text-decoration: none!important;
        }
    }
    .nav_link{
        display: block;
        padding-left: 34%;
        color: #eee;
        width: 100%;
        height: 40px;
    }
    .active{
        background-color: $active;
        width: 100%;
        height: 40px;
        line-height: 40px;
        display: block;
    }
}